/*
Theme Name: MGH Clay Center
Theme URI: http://www.launchpad.co
Description: Custom Theme for MGH Clay Center w/ streamlined header.
Version: 1.5
Author: LaunchPad Media
Author URI: http://www.launchpad.co
*/

@import "css/reset.css";
@import "css/typography.css";
@import "css/layout.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

html, body{
	width: 100%;
}

body{
	font: 16px/22px 'Open Sans', Verdana, Geneva, sans-serif;
	font-weight: 400;
	background: #e6eaeb;
	color: #000;
}

a{
	color: #1C6CC2;
	text-decoration: none;
}


h1,h2,h3,h4,h5,h6{
	font-family: 'roboto_slabbold', Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
}

h1{
	font-size: 40px;
}

h2{
	font-size: 30px;
}

h3{
	font-size: 24px;
	line-height: 30px;
}

h3.title{
	padding: 0 20px 15px;
	margin-bottom: 40px;
	border-bottom: 1px solid #34495E;
	color: #34495e;
	font-family: 'roboto_slabbold', Georgia, "Times New Roman", Times, serif;
}

h4{
	font-size: 16px;
}

h2 a,
h3 a,
h4 a{
	color: #FF6702;
	font-family: 'roboto_slabregular', Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
}

p{
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}

p.date,
p.author{
	margin-bottom: 0;
}

a.btn{
	color: #fff;
	background: #3498db;
	padding: 5px 10px;
	font-size: 16px;
}

a.btn:hover{
	background: #347da0;
}

a.prev-post{
	float: left;
	margin-top: 15px;
	background: #34495E !important;
}


a.next-post{
	float: right;
	margin-top: 15px;
	background: #34495E !important;
}

a.comments{
  width: 38px;
  height: 32px;
  display: none; /* changed display 12-5-2016 */
  line-height: 30px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-decoration: none;
  background: url(images/comment-bubble.png) top left no-repeat #F1F2F3;
  float: right;
  margin-right: 10px;
}

.social a.comments{
	float: left;
	margin-right: 5px;
}

a.comments:hover{
	background: url(images/comment-bubble.png) top left no-repeat #FF6702;
	color: #fff;
}

.center{
	text-align: center;
}

.left{
	float: left;
}

.right{
	float: right;
}

blockquote{
	margin-left: 50px;
}

.wp-caption{
	background: none;
	margin: 0 auto;
	margin-bottom: 15px;
	border: 1px solid #ccc;
}

.wp-caption p{
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
	margin-bottom: 0;
}

.wp-caption.alignleft{
	margin-right: 15px;
}

.wp-caption.alignright{
	margin-left: 15px;
}

.fancybox-wrap .gform_footer{
	text-align: center;
}

/* ----- Containers ----- */

#wrap{
	width: 100%;
}

.content{
	width: 1000px !important;
	margin: 0 auto;
	position: relative;
}

#main{
	width: 685px;
	float: left;
	background: #fff;
	margin-bottom: 5px;
	padding: 20px 0;
	margin-top: -10px;
	min-height: 1000px;
}

	.full-width #main{
		width: 1000px;
	}

.page,
.article,
.category,
.search,
.side{
	margin: 10px 25px;
}

.page ul,
.article ul,
.page ol,
.article ol{
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
	margin-left: 35px;
}

.page ul li,
.article ul li,
.page ol li,
.article ol li{
	margin: 10px 0;
}

.page ul li,
.article ul li{
	list-style: outside disc;
}

#main h3.title{
	margin-bottom: 20px;
}

#main h3.title span{
	float: right;
}

.page ol li,
.article ol li{
	list-style: outside decimal;
}


#sidebar{
	width: 305px;
	float: right;
	margin-top: -10px;
}

/* ----- Header ----- */

#header{
	width: 100%;
	margin: 0 auto;
	background: #fff;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
	z-index: 1;
	position: relative;
}

#header h1{
	max-width: 100%;
}

#header h1 a{
	width: 100%;
	height: 150px;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
	background-image: url(images/mgh-clay-center-logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	shape-rendering: auto;
}

.top-bar{
	padding: 4px 0;
	border-bottom: 1px solid #000;
}

.top-bar .logo-band{
	float: left;
}

.top-bar .logo-band a.mgh,
.top-bar .logo-band a.hms {
	margin-right: 10px;
}

.top-bar .logo-band a.mgh{
	width: 128px;
	height: 26px;
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	background-image: url(images/mgh-logo.png);
	background-position: center center;
	background-size: cover;
}

.top-bar .logo-band a.hms{
	width: 155px;
	height: 26px;
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	background: url(images/hms-logo.png) top left no-repeat;
}

.top-bar ul.social{
	float: right;
	font-size: 10px;
}

.top-bar ul.social li{
	display: inline-block;
}

.top-bar ul.social li i{
	margin-right: 0;
}

.top-bar ul.social li a.facebook{
	color: #3b5998;
}

.top-bar ul.social li a.twitter{
	color: #00aced;
}

.top-bar ul.social li a.google{
	color: #dd4b39;
}

.top-bar ul.social li a.youtube{
	color: #bb0000;
}

.header-left,
.header-right{}

.header-left{
	width: 35%;
	float: left;
}
	.home .header-left h1{
		margin: 0px!important;
	}

.header-right{
	width: 65%;
	float: left;
}

#header ul.menu{
	clear: both;
	float: right;
}

#header ul.menu li{
	display: inline-block;
	margin-left: 10px;
	width: 90px;
	padding: 12px 0;
}

#header ul.menu li.menu-aboutus,
#header ul.menu li.menu-about-us{
	width: 65px;
}


#header ul.menu li.menu-get-involved{
	width: 80px;
}

#header ul.menu li a{
	color: #34495e;
	font-size: 16px;
	display: block;
}

#header ul.menu li.active a,
#header ul.menu li a:hover{
	color: #e67e22;
}

#header #top-menu{
	float: right;
	position: relative;
	top: 26px;
}

#header .title{
	width: 810px;
	height: 75px;
	background: url(images/header_bg.png) left center no-repeat;
	float: right;
	margin-top: 35px;
}

#header .title h1{
	float: left;
	line-height: 75px;
	margin: 0 30px 0 60px;
}

#header .title h2{
	font-size: 28px;
	float: left;
	line-height: 40px;
	margin-top: 10px;
}

#header .title h3{
	font-size: 17px;
	font-style: italic;
	float: left;
}

.searchform{
	display: block;
	padding: 4px 8px;
	border: 1px solid #3498db;
	border-radius: 40px;
	/*position: relative;
	left: 45px;*/
}

.searchform input[type=text],
.search-input{
	width: 175px;
	font-size: 12px;
	color: #ccc;
}

.searchform input[type=text]::placeholder,
.search-input::placeholder {
  color: #ccc;
}

.search-open {
	display: block!important;
}

.logos-close {
	display: none!important;
}

.search-submit{
	display: none;
  background: url(images/btn_search.png) center center no-repeat;
	overflow: hidden;
  text-indent:-9999px;
	cursor: pointer;
	float: right;
	background-color: #3498db;
	padding: 17.5px 22px;
}

.search-submit-form{
	background: url(images/btn_search.png) center center no-repeat;
	overflow: hidden;
  text-indent:-9999px;
  width:26px;
  height:26px;
	background-color: #3498db;
	border-radius: 100px;
	padding: 5px;
	cursor: pointer;
}

.searchform-2{
	float: right;
	padding: 6px 8px;
	background: #3498db;
}

.searchform-2 input[type=text]{
	width: 275px;
	background: #3498db;
	font-size: 16px;
	color: #fff;
}

.searchform-2 input[type=submit]{
    background: url(images/btn_search.png) center center no-repeat;
	overflow: hidden;
    text-indent:-9999px;
    width:22px;
    height:22px;
	cursor: pointer;
}

ul.sub-menu{
	float: right;
	clear: both;
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-size: 14px;
	padding: 20px 0 10px;
}

ul.sub-menu li{
	display: inline-block;
	margin-left: 10px;
}

ul.sub-menu li i{
	margin-right: 5px;
}

ul.sub-menu li a{
	color: #000; // #666
}

ul.sub-menu li a:hover{
	color: #e67e22;
}

ul.sub-menu li.social{
	margin-left: 2px;
}

ul.sub-menu li.search{
	margin: 0 0 0 10px;
}

ul.sub-menu li.contact,
ul.sub-menu li.donate{
	padding: 8px 20px;
	border-radius: 20px;
	color: #fff;
}

ul.sub-menu li.contact a,
ul.sub-menu li.donate a{
	color: #fff;
}

ul.sub-menu li.donate{
	background-color: #e22237;
}

ul.sub-menu li.contact{
	background-color: #3199d8;
}

ul.sub-menu li.donate{
	background: url(images/home-donate.png) 10% 50% no-repeat #e22237;
	padding-left: 40px;
}

ul.sub-menu .fa-envelope-o{
	font-weight: 700;
}

/* ----- Banner ----- */

#banner{
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
	background: url(images/banner_about_dream.jpg) center top no-repeat #fff;
}

	.home #banner{
		height: auto!important; //500px
		background: #fff !important;
	}

	.about-us #banner{
		background: url(images/banner_about_dream.jpg) center top no-repeat #fff;
	}

	.hot-topics #banner{
		background: url(images/banner_hot_topics.jpg) center top no-repeat #fff !important;
	}

	.parenting-concerns #banner,
	.infants-toddlers #banner,
	.pre-school #banner,
	.grade-school #banner,
	.teenagers #banner,
	.young-adults #banner{
		background: url(images/banner_parenting_concerns.jpg) center top no-repeat #fff;
	}

	.families #banner,
	.you-and-your-family #banner{
		background: url(images/banner_your_family.jpg) center top no-repeat #fff;
	}

	.where-to-turn #banner{
		background: url(images/banner_where_to_turn.jpg) center top no-repeat #fff;
	}

	.news-events #banner{
		background: url(images/banner_news_events.jpg) center top no-repeat #fff;
	}

	.your-support #banner{
		background: url(images/banner_your_support.jpg) center top no-repeat #fff;
	}

	.page-search #banner{
		background: url(images/banner_search.jpg) center top no-repeat #fff;
	}

	.page-not-found #banner{
		background: url(images/banner_not_found.jpg) center top no-repeat #fff;
	}

	.patriots-day-project #banner{
		background: url(images/banner_patriots_day_project.jpg) center top no-repeat #fff;
	}

	.looking-for-luke #banner{
		background: url(images/LFL_WebsiteBanner_updated_SR.jpg) center top no-repeat #fff;
		background-size: contain;
	}

	.clay-center-tv #banner{
		background: url(images/banner_videos.jpg) center top no-repeat #fff;
	}

	.podcasts #banner{
		background: url(images/banner_podcasts.jpg) center top no-repeat #fff;
	}

	.multimedia #banner{
		background: url(images/banner_multimedia.jpg) center top no-repeat #fff;
	}

.home #banner {
    background: transparent!important;
}

#banner #slider{
	width: 100%;
	height: 500px;
	overflow: hidden;
}

#banner #slider div.wrap{
	width: 100%;
	height: 450px;
	padding-top: 50px;
}

	.home #banner #slider div.wrap{
		width: 100%;
		height: 400px;
		padding-top: 100px;
	}

#banner #slider div.message{
	width: 100%;
	height: 175px;
	padding: 20px 0;
	background: transparent;
	color: #000;
	position: relative;
}

#banner #slider div.message h2{
	width: 100%;
	height: 32px;
	color: #fff;
	padding: 0 25px 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid transparent;
	font-size: 40px;
	text-align: center;
}

	#banner #slider div.message h2 a{
	    color: #fff;
	}

#banner #slider div.message p{
	margin: 10px 25px 15px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	line-height: 42px;
}

.btn-placement{
    display: block;
}

#banner #slider div.message a.btn{
	// position: absolute;
	// right: 25px;
	// bottom: 15px;
	// padding: 5px 10px;
	display: block;
	text-align: center;
	width: 50%;
	margin: 30px auto 0px;
	padding: 1% 2%;
	position: inherit!important;
}

#banner #slider div.message .bar{
	width: 475px;
	height: 5px;
	background: #d9dfe4;
	position: absolute;
	left: 0;
	bottom: -5px;
	display: none;
}

#banner #slider div.message .timer{
	height: 5px;
	width: 0;
	background-color: #34495e;
}

#banner #slider div.message .prev,
#banner #slider div.message .next,
#banner #slider div.message .pause{
	width: 10px;
	height: 19px;
	position: relative;
	bottom: 0px;
	cursor: pointer;
	display: inline-block!important;
	top: 50px;
}

#banner #slider div.message .prev{
	background: url(images/btn_prev.png) top left no-repeat;
	left: 44%;
}

#banner #slider div.message .pause{
	background: url(images/btn_pause.png) top left no-repeat;
	left: 48%;
}

#banner #slider div.message .next{
	background: url(images/btn_next.png) top left no-repeat;
	left: 52%;
}

#banner #slider div.message .paused{
	background-position: 0 -19px;
}

#banner .internal{
	color: #fff;
	width: 625px;
	height: 100%;
}

	.clay-center-tv #banner .internal,
	.podcasts #banner .internal{
		display: none;
	}

#banner .internal h1{
	margin-top: 55px;
	margin-bottom: 15px;
	padding-bottom: 25px;
	border-bottom: 1px solid #fff;
	font-family: 'roboto_slabregular', Georgia, "Times New Roman", Times, serif;
}

#banner .internal p{
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
}

/* New styles -- New Slider */
.home .header-left h1{
    margin: 0px!important;
}
.home #banner .carousel-caption h2{
    display: none;
}
.home #banner .carousel-caption h2 a,
.home #banner .carousel-caption h1 a{
    color: white;
    font-family: 'roboto_slabregular', Georgia, "Times New Roman", Times, serif;
}
.home #banner .carousel-caption h3 a{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.home #banner .carousel-caption h2 a:hover,
.home #banner .carousel-caption h1 a:hover,
.home #banner .carousel-caption h3 a:hover,
.home #banner .carousel-caption h2 a:focus,
.home #banner .carousel-caption h1 a:focus,
.home #banner .carousel-caption h3 a:focus{
    color: white;
    text-decoration: none;
}
.home .carousel-caption{
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.45);
}
/*.home .carousel-caption h2{
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 5.5px;
    margin-top: 40px;
}*/
.home .carousel-caption h1{
    font-size: 48px; /* 60 */
    margin-top: 70px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.home .carousel-caption h3{
    /* padding: 0% 20%; */
    line-height: 38px;
    font-size: 20px;
    width: 50%;
    margin: 0 auto!important;
}

@media (max-width: 1300px){
    .home .carousel-caption h1{
        margin-top: 50px;
    }
    .home .carousel-caption h3{
        line-height: 30px;
    }
}
@media (max-width: 1100px){
    .home .carousel-caption h1{
        font-size: 40px;
        margin-top: 40px;
    }
}

/* ----- Homepage ----- */

body.home{
	background: #e6eaeb;
}

.home #blocks{
	width: 100%;
	height: 300px;
	background: #ecf0f1;
	padding-bottom: 25px;
}

.home #blocks div.content{
	z-index: 99;
	position: absolute;
	left:50%;
    margin-left:-500px;
}

.home #blocks div.block{
	width: 330px;
	height: 280px;
	padding: 20px 0;
	background: #fff;
	display: block;
	margin-top: -10px;
	overflow: hidden;
	background-position: bottom right;
	background-repeat: no-repeat;
	position: relative;
}

.home #blocks .block_left,
.home #blocks .block_center{
	float: left;
}

.home #blocks .block_center{
	margin-left: 5px;
}

.home #blocks .block_right{
	float: right;
}

.home #blocks .block.block_left{
	background-position: 85% 90%;
}

.home #blocks .block.block_center{
	background-position: 90% 96%;
	text-align: center;
}

.home #blocks .block.block_center h3,
.home #blocks .block.block_center h4{
	text-align: left;
}

.home #blocks .block.block_right{
	background-position: 85% 120%;
}

.home #blocks div h3{
	color: #34495e;
	padding: 0 20px 20px;
	border-bottom: 1px solid #34495e;
	font-family: 'roboto_slabbold', Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
}

.home #blocks div h4{
	color: #ff7429;
	margin: 10px 20px;
}

.home #blocks div p{
	margin: 0 20px;
	width: 190px;
	font-size: 14px;
}

.home #blocks div a.btn{
	padding: 5px 10px;
	float: left;
	position: absolute;
	left: 25px;
	bottom: 25px;
}

.home #tabs{
	margin: 0 20px;
}

.home #tabs ul{
	width: 100%;
	border-bottom: 1px solid #e67e22;
	font-size: 16px;
}

.home #tabs ul li{
	float: left;
	padding: 5px 20px 0 0;
}

.home #tabs ul li a{
	display: block;
	color: #bdc3c7;
	padding-bottom: 10px;
}

.home #tabs ul li.ui-state-active a{
	color: #FF9A2C;
	border-bottom: 2px solid #FF9A2C;
}

.home #tabs div.block{
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #f1f2f3;
}

.home #tabs div.block p{

}

.home #tabs div.block .photo{
	width: 160px;
	height: 160px;
	float: left;
	position: relative;
}

.home #tabs div.block .photo a{
	width: 160px;
	height: 160px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	background: url(images/thumbnail_mask.png) top left no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

.home #tabs div.block .narrow{
	width: 470px;
	float: right;
}

.home #tabs div.block .date{
	color: #bdc3c7;
	float: left;
}

.home #tabs div.block h3{
	clear: both;
	margin: 15px 0;
	color: #e67e22;
}

.home #tabs div.block a.cat{
	color: #bdc3c7;
	float: right;
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-weight: 400;
	line-height: 24px;
	font-size: 16px;
}

.home #tabs div.block .text a.btn{
	float: right;
}

.home h3,
.home h2{
    margin: 0px!important;
}

.home h4{
    font-size: 16px;
}

/* ----- Parenting Concerns ----- */

.parenting-concerns #main ul.menu li,
.media-room #main ul.menu li{
	width: 280px;
	height: 310px;
	float: left;
	margin: 0 18px;
	list-style: none;
}

	.parenting-concerns #main ul.menu li.infants-toddlers{
		background: url(images/parenting_infants.jpg) top left no-repeat;
	}

	.parenting-concerns #main ul.menu li.pre-school{
		background: url(images/parenting_pre_school.jpg) top left no-repeat;
	}

	.parenting-concerns #main ul.menu li.grade-school{
		background: url(images/parenting_grade_school.jpg) top left no-repeat;
	}

	.parenting-concerns #main ul.menu li.teenagers{
		background: url(images/parenting_teenagers.jpg) top left no-repeat;
	}

	.parenting-concerns #main ul.menu li.young-adults{
		background: url(images/parenting_young_adults.jpg) top left no-repeat;
	}

	.parenting-concerns #main ul.menu li.families{
		background: url(images/parenting_concerns_familes.jpg) top left no-repeat;
	}

	.media-room #main ul.menu li.about-the-clay-center{
	 	background: url(images/media-room-btn-about-the-clay-center.jpg) top left no-repeat;
	}

	.media-room #main ul.menu li.press-releases{
	 	background: url(images/media-room-btn-press-releases.jpg) top left no-repeat;
	}

	.media-room #main ul.menu li.our-team{
	 	background: url(images/media-room-btn-our-team.jpg) top left no-repeat;
	}

	.media-room #main ul.menu li.in-the-news{
	 	background: url(images/media-room-btn-in-the-news.jpg) top left no-repeat;
	}

	.media-room #main ul.menu li.videos{
	 	background: url(images/media-room-btn-videos.jpg) top left no-repeat;
	}

	.media-room #main ul.menu li.testimonials{
	 	background: url(images/media-room-btn-testimonials.jpg) top left no-repeat;
	}


.parenting-concerns #main ul.menu li a,
.media-room #main ul.menu li a{
	padding: 5px 10px;
	margin-left: 40px;
}

.parenting-concerns #main ul.menu li h3,
.media-room #main ul.menu li h3{
	width: 125px;
	margin: 50px 40px 20px;
	font-family: 'roboto_slabregular', Georgia, "Times New Roman", Times, serif;
	color: #34495e;
}

.parenting-concerns #main ul.menu li.teenagers h3,
.parenting-concerns #main ul.menu li.families h3{
	margin-bottom: 50px;
}

/*.media-room h3{
	font-family: "Open Sans",Verdana,Geneva,sans-serif;
}*/

.media-room .featured-headshot{
	border-radius: 4px;
	padding: 10px;
	border: 1px solid #ccc;
	float: left;
	margin: 0 15px 5px 0;
}

/* -----Author Bios ----- */

#authors .about{
	padding-top: 20px;
	margin-bottom: 10px;
	border-top: 1px solid #F1F2F3;
}

	.category #authors .about{
		padding: 0 0 30px 0;
		border-top: none;
		border-bottom: 1px solid #F1F2F3;
		margin-bottom: 0;
	}

#authors .about .photo{
	width: 160px;
	height: 160px;
	float: left;
	position: relative;
}

#authors .about .photo span{
	width: 160px;
	height: 160px;
	display: block;
	background: url(images/thumbnail_mask.png) top left no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

#authors .about .bio{
	float: left;
}

#authors .about .narrow{
	width: 450px !important;
	float: right !important;
}

#authors .about .bio h3{
	margin-bottom:5px;
	color: #34495e;
}

/* -----Related Posts ----- */

#related{
	padding: 10px 0;
	margin: 0 0 10px;
	border-top: 1px solid #F1F2F3;
	border-bottom: 1px solid #F1F2F3;
}

#related ul{
	margin: 0;
}

#related ul li{
	list-style: none;
	display: block;
	clear: both;
	margin: 25px 0;
}

#related ul li .thumb{
	width: 64px;
	height: 64px;
	float: left;
	position: relative;
}

#related ul li .thumb a{
  background: url(images/thumbnail_mask_64.png) top left no-repeat;
  display: block;
  height: 64px;
  width: 64px;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

#related ul li h3{
	width: 550px;
	float: right;
	line-height: 32px;
}

.rpbt_shortcode {
	border-top: .75px solid #ccc;
	border-bottom: .75px solid #ccc;
	padding: 2px 0px 3.5px;
	margin: 2px auto 15px;
	width: 80%;
}

.rpbt_shortcode h3{
	font-size: 16px!important;
	line-height: 18px!important;
}

div.related-gallery.gallery-columns-3.gallery-size-thumbnail {margin-top:10px;}

dl.gallery-item{float:left;width:calc(100%/3);}

dd.wp-caption-text.gallery-caption{
	text-align:center;
	width: 80%;
	/*color: black;*/
	color: #FF6702;
	margin: 0 auto;
	font-size: 11px;
	line-height: 16px;
}

.gallery-item .gallery-icon a img{
	width: 50%;
	height: auto;
}

dt.gallery-icon.landscape{
	text-align: center;
}

/* ----- About D.r.e.a.m. ----- */

.about-us #photo,
.where-to-turn #photo,
.your-support #photo,
.media-room #photo{
	width: 100%;
	height: 325px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.about-us #photo ul,
.media-room #photo ul{
	margin: 0;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.about-us #photo ul li,
.media-room #photo ul li{
	float: left;
	display:block;
	margin: 0 5px;
}

.about-us #photo ul li a,
.media-room #photo ul li a{
	width: 38px;
	height: 38px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

.about-us #photo ul li a.email,
.media-room #photo ul li a.email{
	background: url(images/our_team_email.png) top left no-repeat;
}

.about-us #photo ul li a.twitter,
.media-room #photo ul li a.twitter{
	background: url(images/our_team_twitter.png) top left no-repeat;
}

/* ----- Our Team ----- */

.our-team .block{
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #F1F2F3;
}

.our-team .block a.btn{
	float: right;
	padding: 5px 10px;
}

.our-team .block .photo{
	width: 100%;
	height: 325px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.our-team .block h2{
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-weight: 400;
}

.our-team .block h2.nophoto{
	margin-bottom: 20px;
}

.our-team .block .photo h2{
	color: #fff;
	font-size: 34px;
	position: absolute;
	text-shadow: 1px 1px 1px #333;
}

.our-team .block .photo h2.first{
	bottom: 50px;
	left: 20px;
}

.our-team .block .photo h2.last{
	bottom: 20px;
	left: 20px;
}

.our-team .block .photo ul{
	margin: 0;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.our-team .block .photo ul li{
	float: left;
	display:block;
	margin: 0 5px;
}

.our-team .block .photo ul li a{
	width: 38px;
	height: 38px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

.our-team .block .photo ul li a.email{
	background: url(images/our_team_email.png) top left no-repeat;
}

.our-team .block .photo ul li a.twitter{
	background: url(images/our_team_twitter.png) top left no-repeat;
}

.our-team #authors .about{
	padding: 0 0 20px 0;
	margin-bottom: 15px;
	border-top: none;
	border-bottom: 1px solid #F1F2F3;
}

/* ----- Contact Information ----- */

.about-us #map-canvas{
	width: 100%;
	height: 350px;
	margin: 15px 0;
}

.about-us ul{
	margin: 0;
}

.about-us ul#contact li{
	list-style: none;
	float: left;
	padding-left: 30px;
	height: 25px;
	margin: 5px 0;
}

.about-us ul#contact li.email{
	background: url(images/contact_email.png) center left no-repeat;
}

.about-us ul#contact li.phone{
	margin-left: 50px;
	background: url(images/contact_phone.png) center left no-repeat;
}

.about-us ul#contact li.fax{
	float: right;
	background: url(images/contact_fax.png) center left no-repeat;
}

.about-us ul#contact li.address{
	background: url(images/contact_address.png) center left no-repeat;
}

.about-us ul#contact li.facebook{
	background: url(images/contact_facebook.png) center left no-repeat;
}

.about-us ul#contact li.twitter{
	float: right;
	background: url(images/contact_twitter.png) center left no-repeat;
}
.about-us ul#contact li.gplus{
	float: right;
	background: url(images/contact_gplus.png) center left no-repeat;
}


.about-us .about{
	padding-top: 25px;
	margin-top: 25px;
	border-top: 1px solid #F1F2F3;
}

.about-us .about .photo{
	width: 160px;
	height: 160px;
	float: left;
	position: relative;
}

.about-us .about .photo span{
	width: 160px;
	height: 160px;
	display: block;
	background: url(images/thumbnail_mask.png) top left no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

.about-us .about .contact{
	width: 455px;
	float: right;
}

.about-us .about .contact ul{
	margin: 20px 0 30px;
	width: 100%;
}

.about-us .about .contact ul li{

	list-style: none;
	float: left;
}

.about-us .about .contact ul li a{
	display: block;
	padding-left: 30px;
}

.about-us .about .contact ul li.email{
	width: 275px;
}

.about-us .about .contact ul li.twitter{
	width: 180px;
}

.about-us .about .contact ul li.email a{
	background: url(images/contact_email.png) center left no-repeat;
}

.about-us .about .contact ul li.twitter a{
	background: url(images/contact_twitter.png) center left no-repeat;
}

.about-us .about .contact a.btn{
	margin-right: 5px;
}

/* ----- Article Pages ----- */

.article .social-button-container{
	float: right;
}


.article #photo{
	width: 100%;
	height: 325px;
	margin-bottom: 15px;
	position: relative;
}

.article #photo img{
	display: block;
	margin: 0 auto;
}

.article #photo div.byline{
	font-size: 10px;
	padding: 2px 5px;
	background: url(images/byline_bg.png);
	position: absolute;
	right: 0;
	bottom: 0;
}

.article #video{
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}

.article #video #video_other{
	width: 100%;
	text-align: center;
}

.article #video #video_other iframe{
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.article p.author,
.article p.cats{
	margin-bottom: 0;
}

.article p.cats{
	margin-bottom: 15px;
}

.article div.ccount{
	display: none; /* added on 12-5-2016 */
	margin-bottom: 15px;
	line-height: 23px;
}

.article div.ccount a.comments{
  background: url(images/comment-bubble-sm.png) top left no-repeat #F1F2F3;
  display: block;
  float: left;
  width: 27px;
  height: 23px;
  line-height: 21px;
  margin-right: 6px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.article div.ccount a.comments:hover{
	background: url(images/comment-bubble-sm.png) top left no-repeat #FF6702;
	color: #fff;
}

.article #social{
	float: right;
}

.article #social-bottom{
	float: none;
}

.article ul#social{
	margin: 0;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.article ul#social li{
	float: left;
	display:block;
	margin: 0 5px;
}

.article ul#social li a{
	width: 38px;
	height: 38px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

.article ul#social li a.facebook{
	background: url(images/article_social_facebook.png) top left no-repeat;
}

.article ul#social li a.twitter{
	background: url(images/article_social_twitter.png) top left no-repeat;
}

.article ul#social li a.gplus{
	background: url(images/article_social_gplus.png) top left no-repeat;
}

.article iframe{
	margin: 10px 0 15px;
}

/* ----- Category Pages ----- */

.search div.block,
.category div.block{
	margin-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #f1f2f3;
}

.search div.block h3,
.category div.block h3{
	margin-bottom: 15px;
	color: #FF6702;
	font-family: 'roboto_slabbold', Georgia, "Times New Roman", Times, serif;
}

.search div.block a.btn,
.category div.block a.btn{
	padding: 5px 10px;
	float: right;
}

.search div.block .photo,
.category div.block .photo{
	width: 160px;
	height: 160px;
	float: left;
	position: relative;
}

.press-releases div.block .photo{
	width: 96px;
	height: 96px;
}

.search div.block .photo a,
.category div.block .photo a{
	width: 160px;
	height: 160px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	background: url(images/thumbnail_mask.png) top left no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

.search div.block .narrow,
.category div.block .narrow{
	width: 450px !important;
	float: right !important;
}

.search div.block .date,
.search div.block .author,
.category div.block .date,
.category div.block .author{
	color: #BDC3C7;
}

.search div.block a.media-cat,
.category div.block a.media-cat,
#tabs .block .text a.media-cat{
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
}

.search div.block a.media-cat.podcasts,
.category div.block a.media-cat.podcasts,
#tabs .block .text a.media-cat.podcasts{
	background: url(images/multimedia_btn_podcasts.png) center center no-repeat;
}

.search div.block a.media-cat.clay-center-tv,
.category div.block a.media-cat.clay-center-tv,
#tabs .block .text a.media-cat.clay-center-tv{
	background: url(images/multimedia_btn_videos.png) center center no-repeat;
}

/* ----- Patriot’s Day Project ----- */

#patriots-day{
  border-bottom: 1px solid #F1F2F3;
  margin-top: 25px;
  padding: 345px 0 0 0;
  background: url(images/patriots_day_project_bg.png) top left no-repeat;
}

/* ----- Looking for Luke ----- */

.looking-for-luke #banner .internal {
	width: 540px;
	color: #000;
}

.looking-for-luke .page ul li{
	list-style: none;
}

.looking-for-luke .video{
	text-align: center;
}

.looking-for-luke .links:after{
	clear: both;
	content: "";
	display: block;
}

.left-links{
	width: 40%;
	float: left;
}

.right-links{
	width: 40%;
	float: right;
}

.filmmaker-item{
	margin-bottom: 15px;
}
	.filmmaker-item:after{
		display: block;
		content: '';
		clear: both;
	}

.photo-wrapper{
	display: block;
	float: left;
	position: relative;
	top: 10px;
}

.right-text{
	float: right;
	width: 70%;
	text-align: justify;
}
	.right-text p{
		padding-top: 8px;
	}

.photo-side {
	display: block;
	float: left;
	width: 50%;
	text-align: center;
}
	.photo-side img{
		width: 70%;
		height: auto;
	}
.side-text{
	float: right;
	width: 50%;
}
	.side-text p{
		margin-top: 10px;
		margin-right: 20px;
	}

.sidebar-posts{
	margin: 15px 0px;
}
	.sidebar-posts:after{
		display: block;
		content: '';
		clear: both;
	}


/* ----- News & Events ----- */

.news-events div.block .photo{
	width: 96px;
	height: 96px;
}

.news-events div.block .photo span{
	width: 96px;
	height: 96px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	background: url(images/thumbnail_mask_t.png) top left no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

.news-events div.block .link,
.media-room div.block .link{
	width: 520px;
	float: right;
}

/* ----- Your Support ----- */

.your-support ul#social{
	width: 100%;
	text-align: center;
}

.your-support ul#social li{
	margin-right: 25px;
	display: inline-block;
}

.your-support ul#social li a{
	width: 43px;
	height: 40px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

.your-support ul#social li a.facebook{
	background: url(images/social_facebook.png) left center no-repeat;
}

.your-support ul#social li a.twitter{
	background: url(images/social_twitter.png) left center no-repeat;
}

.your-support ul#social li a.gplus{
	background: url(images/social_gplus.png) left center no-repeat;
}

/* ----- Media Room ----- */

.media-room .content-block{
	margin: 20px 0;
	position: relative;
}

.media-room .content-block h2{
	line-height: 72px;
	padding-left: 85px;
}

	.media-room .content-block.about-the-clay-center h2{
		background: url(images/media-center-icons-about.png) left center no-repeat;
	}

	.media-room .content-block.our-doctors h2{
		background: url(images/media-center-icons-doctors.png) left center no-repeat;
	}

	.media-room .press-releases h2{
		background: url(images/media-center-icons-press.png) left center no-repeat;
	}

	.media-room .content-block.videos-photos h2{
		background: url(images/media-center-icons-videos.png) left center no-repeat;
	}

	.media-room .content-block.testimonials h2{
		background: url(images/media-center-icons-testimonials.png) left center no-repeat;
	}

.media-room .content-block a.btn.more{
	position: absolute;
	top: 25px;
	right: 25px;
}

.media-room .content-block ul{
	margin-left: 85px;
}

.media-room .content-block ul li{
	list-style: none;
}

.media-room .content-block ul li p.date{
	font-size: 	12px;
	font-weight: bold;
}

.media-room .content-block ul li p.cat,
.press-releases .block p.cat{
	margin: 0;
}


.media-room .content-block ul li p.cat a,
.press-releases .block p.cat a{
	font-size: 	12px;
	color: #999;
	margin: 0;
}

.media-room .content-block h2 i.fa{
	color: #34495e;
}

.media-room .content-block h2 i.fa-inverse{
	color: #fff;
}

.media-room .content-block.about-the-clay-center ul li ul,
.media-room .content-block.our-doctors ul li ul{
	margin: 0;
	padding: 0;
}

.media-room .content-block.about-the-clay-center ul li ul li,
.media-room .content-block.our-doctors ul li ul li{
	display: inline-block;
}

.media-room .content-block.about-the-clay-center ul li ul li a.btn.download,
.media-room .content-block.our-doctors ul li ul li a.btn.download{
	background: #ff6702;
}

.media-room .content-block.our-doctors h3 a span.fa-stack{
 	font-size: 14px;
}

.media-room .content-block.our-doctors h3 a{
	color: #ccc;
}

.media-room .content-block.our-doctors h3 a.email{
	margin-left: 5px;
}

.press-releases .photo span{
	width: 96px;
	height: 96px;
	display: block;
	background: url(images/thumbnail_mask.png) top left no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

.media-photos,
.media-downloads{
	clear: both;
	display: block;
	padding-top: 15px;
}

.media-photos h3,
.media-downloads h3{
	margin-bottom: 10px;
	padding-bottom: 5px;
	color: #ff6702;
	border-bottom: #1c6cc2 1px solid;
}

.media-photos ul{
	padding: 0;
	margin: 0;
}

.media-photos ul li{
	list-style: none;
	display: inline-block;
	margin: 4px;
}

.media-downloads ul li{
	list-style: none;
}

.media-downloads ul li:before {
  content: '\f15b';
  font-family: FontAwesome;
  display: inline-block;
  width: 1.2em;
  margin-left: -1.2em;
  color: #1c6cc2;
}​

/* ----- Sidebar ----- */

#sidebar h3.title{
	margin-bottom: 0;
}

#sidebar div.block{
	width: 100%;
	background: #fff;
	padding: 20px 0;
	margin-bottom: 15px;
}

#sidebar div.block .gform_wrapper .gform_footer{
	text-align: center;
	margin-top: 10px;
	padding: 0;
}

#sidebar #social ul{
	width: 100%;
	text-align: center;
}

#sidebar #social ul li{
	margin: 5px 15px 0;
	display: inline-block;
}

#sidebar #social ul li a{
	display: block;
}

#sidebar #social ul li a.facebook{
	color: #3b5998;
}

#sidebar #social ul li a.twitter{
	color: #00aced;
}

#sidebar #social ul li a.gplus{
	color: #dd4b39;
}

#sidebar #social ul li a.youtube{
	color: #bb0000;
}

#sidebar #quickjump,
#sidebar #multimedia{
	padding-bottom: 0;
}

#sidebar #quickjump ul li a,
#sidebar #multimedia ul li a{
	width: 285px;
	height: 95px;
	font-size: 18px;
	color: #34495e;
	display: block;
	line-height: 95px;
	padding-left: 20px;
	background-position: 220px center!important;
	background-repeat: no-repeat!important;
}

#sidebar #quickjump ul li a:hover,
#sidebar #multimedia ul li a:hover{
	color: #fff;
}

#sidebar #quickjump ul li:hover,
#sidebar #multimedia ul li:hover{
	background-color: #34495e;
}

#sidebar #quickjump ul li.hot-topics a{
	background: url(images/category_hot_topics.png);
}

#sidebar #quickjump ul li.news-events a{
	background: url(images/category_news_events.png);
}

#sidebar #quickjump ul li.infants-toddlers a{
	background: url(images/category_infants.png);
}

#sidebar #quickjump ul li.pre-school a{
	background: url(images/category_pre_school.png);
}

#sidebar #quickjump ul li.grade-school a{
	background: url(images/category_grade_school.png);
}

#sidebar #quickjump ul li.teenagers a{
	background: url(images/category_teenagers.png);
}

#sidebar #quickjump ul li.young-adults a{
	background: url(images/category_young_adults.png);
}

#sidebar #quickjump ul li.families a{
	background: url(images/category_families.png);
}

#sidebar #multimedia ul li.clay-center-tv a{
	background: url(images/category_videos.png);
}

#sidebar #multimedia ul li.podcasts a{
	background: url(images/category_podcasts.png);
}

#sidebar #video{
	padding-bottom: 0;
}

#sidebar #video div.side{
	margin: 10px;
}

#sidebar #supported div.side{
	padding-bottom: 49px;
	background: url(images/patriots_day_project_fidelity.png) bottom center no-repeat;
}

#sidebar #subnav{
	padding-bottom: 0;
}

#sidebar #subnav ul li a{
	width: 285px;
	height: 60px;
	font-size: 16px;
	color: #34495e;
	display: block;
	line-height: 60px;
	padding-left: 20px;
}

#sidebar #subnav ul li a:hover{
	background-color: #F1F2F3;
}
#sidebar #subnav ul li.current_page_ancestor a,
#sidebar #subnav ul li.current_page_item a{
	color: #fff;
	background-color: #34495E;
}

#sidebar #subnav ul li ul li a{
	width: 255px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;
	font-weight: 400;
	padding-left: 50px;
}

#sidebar #subnav ul li.current_page_ancestor ul li a,
#sidebar #subnav ul li.current_page_item ul li a,
#sidebar #subnav ul li.current_page_item ul li a{
	background: none;
	color: #34495E;
}

#sidebar #subnav ul li ul li.current_page_item a,
#sidebar #subnav ul li ul li a:hover{
	color: #E67E22;
	background: none;
}

#sidebar .searchform-2{
	float: none;
	margin: 0 auto;
	width: 260px;
	margin-top: 15px;
}

#sidebar .searchform-2 input[type=text]{
	width: 225px;
}

#sidebar #latest ul li{
	margin: 10px 0;
	list-style: disc outside;
	margin-left: 15px;
	padding-left: 5px;
}

#sidebar #newsletter .gform_wrapper .top_label input.medium,
#sidebar #newsletter .gform_wrapper .top_label select.medium{
	width: 100%;
}

div#newsletter{
	padding: 10px 0px!important;
}
	#newsletter h3{
		margin-bottom: 10px;
		line-height: 40px;
	}
	#newsletter p{
		margin: 0px 25px;
		font-style: italic;
	}
	#newsletter .side{
		margin: 0px 25px!important;
	}
	#newsletter .gform_wrapper{
		margin: 0em 0em!important;
	}

#sidebar #poll ul li{
	margin: 5px 15px 0;
	display: inline-block;
}

#sidebar #poll a.gpoll_button{
	margin: 5px 0 0 0;
	text-align: center;
	float: none;
	display: block;
}

#sidebar #poll .gform_wrapper .gform_footer{
	margin: 10px 0 0 0;
	padding: 0;
}
#sidebar #archive ul{
	margin: 15px 0 0 25px;
}

#sidebar #archive ul li{
	list-style: disc inside;
	margin: 3px 0;
}

/* ----- Survey Utility ----- */

.gform_wrapper textarea,
.gform_wrapper select,
.gform_wrapper input[type=text]{
	border: 1px solid #C0C0C0;
}

.gform_wrapper input[type=submit]{
	color: #fff;
	background: #3498db;
	padding: 10px 15px;
	font-size: 16px;
	display: block;
	cursor: pointer;
	margin: 0 auto;
}

.gform_wrapper input[type=submit]:hover{
	background: #347da0;
}

#gforms_confirmation_message{
	padding-top: 25px;
}

#gforms_confirmation_message h2{
	font-size: 22px;
	font-weight: normal;
	padding-top: 30px;
}

/* ----- Footer ----- */

#footer{
	width: 100%;
	background: url(images/footer_bg.png) top left repeat-x;
	margin-top: -30px;
}

#footer .content{
	width: 720px !important;
	height: 375px;
	padding: 25px 280px 18px 0;
	background: url(images/footer_star_chaser.png) top right no-repeat;
	color: #fff;
}
	.home #footer .content{
		width: 1000px!important;
		height: 418px;
	}

#footer .content a{
	color: #fff;
}

#footer .content div{
	float: left;
	margin: 15px 35px 25px 10px;
}

#footer .content div.info{
	margin-right: 0;
}

#footer .content ul{
	margin-top: 25px;
}

#footer .content ul li{
	margin: 15px 0;
}

	.home #footer ul li{
    	font-size: 16px;
	}

#footer .content div.info li.phone,
#footer .content div.info li.address,
#footer .content div.info li.email{
	padding-left: 30px;
}

#footer .content div.info li.phone{
	background: url(images/footer_info_phone.png) left center no-repeat;
}

#footer .content div.info li.address{
	background: url(images/footer_info_address.png) left center no-repeat;
}

#footer .content div.info li.email{
	background: url(images/footer_info_email.png) left center no-repeat;
}

#footer .fa-newspaper-o{
	margin-right: 10px;
	color: #16a085;
	font-weight: 700;
}

#footer .content div.info a{
	color: #16a085;
}

#footer .content div.social a i{
	margin-right: 10px;
}

#footer .content div.social a.facebook i{
	color: #3b5998;
}

#footer .content div.social a.twitter i{
	color: #00aced;
}

#footer .content div.social a.gplus i{
	color: #dd4b39;
}

#footer .content div.social a.youtube i{
	color: #bb0000;
}

#sub_foot{
	width: 100%;
	background: #fff;
}

#sub_foot .title{
	width: 680px;
	height: 60px;
	padding-bottom: 15px;
	float: left;
}

#sub_foot .title h1{
	float: left;
	line-height: 60px;
	font-size: 34px;
	padding-right: 55px;
	margin-right: 20px;
	background: url(images/sub_foot_stars.png) center right no-repeat;
}

#sub_foot .title h2{
	font-size: 22px;
	line-height: 26px;
	float: left;
	margin-top: 5px;
}

#sub_foot .title h3{
	font-size: 12px;
	font-style: italic;
	float: left;
}

#sub_foot a{
	width: 140px;
	height: 30px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	margin: 16px 10px;
	float: right;
}

#sub_foot a.mgh{
	background: url(images/footer_mgh.jpg) top left no-repeat;
}

#sub_foot a.hms{
	background: url(images/footer_hms.jpg) top left no-repeat;
}

#sub_foot a.mgh-clay-center{
	width: 264px;
	height: 75px;
	float: left;
	background: url(images/mgh-clay-center-footer-logo.png) top left no-repeat;
	margin-top: 0;
}


#copyright{
	width: 100%;
	padding: 5px 0;
	text-align: center;
	color: #BDC3C7;
	font-size: 11px;
	background: #fff;

}